[user]
name = Aleksandr Yakunichev
email = hi@ya.codes
	signingkey = /home/ya/.ssh/id_ed25519.pub

[core]
editor = nvim

[alias]
a = add
aa = add .
br = branch
co = checkout
ci = commit
p = push
pf = push --force-with-lease
s = status --short
st = status
l = log --pretty=format:'%C(yellow) %h | %<(70,trunc)%C(reset)%s | %C(cyan)%<(20,trunc)%an %C(reset)| %C(blue)%<(15)%ad %C(reset)' --date=format:'%d-%b-%y %H:%M'

[diff]
compactionHeuristic = true

[init]
defaultBranch = main

[gpg]
	format = ssh
[commit]
	gpgsign = true
[pull]
	rebase = true
