[user]
name = Aleksandr Yakunichev
email = hi@ya.codes
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCwxtqsMFiBNkqg3ilHizPxY9O20yVhpfvzlUWaHDemICsoMc/17BWC8QEhmt2H4BdHLsaA5sQg4z+448/ZqTVc8Ajpk/r6iLHN1cjfMbJrtNoy8nojSAHLJV6LMRt8f5Neu2K82Ldr9TphlFC5UfM2wR2SKcuTHoBzBdiTR8zgkvLx1O+dpX7Yr51FymMDyvU47f+QnYucrUijLhmJ5rP7NOrMZvyHhUME3c3BLOst6AG2WYvAYybD/xpUI58BvkEIgcrvuP1iC/B+TifutmIr12lXQq6zX0rJW7422tXhRAstDQ85yCHeGWLrrK91lrhsbi26fBw1fCIlDca413sf

[core]
editor = vim

[alias]
a = add
aa = add .
br = branch
co = checkout
ci = commit
p = push
pf = push --force-with-lease
s = status --short
st = status
l = log --pretty=format:'%C(yellow) %h | %<(70,trunc)%C(reset)%s | %C(cyan)%<(20,trunc)%an %C(reset)| %C(blue)%<(15)%ad %C(reset)' --date=format:'%d-%b-%y %H:%M'

[diff]
compactionHeuristic = true

[init]
defaultBranch = main

[gpg]
	format = ssh
[commit]
	gpgsign = true
