[user]
	name = aleksandryakunichev
	email = yakunichev.aleksandr@gmail.com

[core]
  editor = nvim

[alias]
  a = add
  aa = add .
  br = branch
  co = checkout
  ci = commit
  p = push
  pf = push --force-with-lease
  s = status --short
  st = status
  l = log --pretty=format:'%C(yellow)| %h | %<(30,trunc)%C(reset)%s | %C(cyan)%<(14,trunc)%an %C(reset)| %C(blue)%<(15)%ad %C(reset)|' --date=format:'%d-%b-%y %H:%M'

[diff]
	compactionHeuristic = true
